<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= pageTitle || 'intermittent.energy' %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <% if (typeof dashboardType !== 'undefined' && dashboardType) { %>
      <meta name="twitter:card" content="summary_large_image">
      <meta property="twitter:site" content="@IntermittentNRG">
      <meta property="og:title" content="<%= pageTitle %>">
      <meta property="og:description" content="High resolution graphs of electricity grid data. Powered by @TimescaleDB">
      <% if (typeof imageUrl !== 'undefined' && imageUrl) { %>
        <meta property="og:image" content="<%= imageUrl %>">
        <meta property="og:image:type" content="image/png">
        <meta property="og:image:width" content="1200">
        <meta property="og:image:height" content="630">
      <% } %>
    <% } %>
    <%- include('critical_css') %>
    <link rel="preload" href="<%= entrypointUrl('public/application.css') %>" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <link rel="preload" href="<%= entrypointUrl('public/topnav.css') %>" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <link rel="preload" href="<%= entrypointUrl('public/topnav-area.css') %>" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <link rel="preload" href="<%= entrypointUrl('public/topnav-dashboard.css') %>" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <link rel="preload" href="<%= entrypointUrl('public/topnav-date.css') %>" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <link rel="preload" href="/assets/vendor/uplot_client.bundle.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <%- scriptTags('public/app.js') %>
    <%- include('google_analytics') %>
  </head>
  <body>
