<div id="topnav-area" class="topnav-item">
  <label for="location-selector-btn">Location</label>
  <button type="button" id="location-selector-btn" class="dropdown-btn location-selector-btn">
    <% const selectedRegionLabel = params.region.replace(/_/g, ' ').replace(/\b\w/g, c => c.toUpperCase()) %>
    <% const selectedAreasLabel = params.area === 'all' ? 'All areas' : params.area %>
    <span class="dropdown-value"><%= selectedRegionLabel %> • <%= selectedAreasLabel %></span>
    <span class="dropdown-arrow">▼</span>
  </button>

  <div class="area-menu">
    <div class="area-menu-header">
      <h3>Location</h3>
      <button type="button" class="step-close" aria-label="Close location menu">×</button>
    </div>

    <ul class="area-tree" data-area-tree>
      <% regions.forEach((region) => { %>
        <% const regionLabel = region.replace(/_/g, ' ').replace(/\b\w/g, c => c.toUpperCase()) %>
        <li class="area-node" data-node-type="region" data-region="<%= region %>">
          <button type="button" class="area-node-button" aria-expanded="false">
            <span class="option-text"><%= regionLabel %></span>
            <span class="option-arrow">›</span>
          </button>

          <ul class="area-tree child-tree">
            <% Object.keys(areasData[region] || {}).forEach((areaType) => { %>
              <% const areaTypeLabel = areaType.replace(/_/g, ' ').replace(/\b\w/g, c => c.toUpperCase()) %>
              <li class="area-node" data-node-type="area-type" data-region="<%= region %>" data-area-type="<%= areaType %>">
                <button type="button" class="area-node-button" aria-expanded="false">
                  <span class="option-text"><%= areaTypeLabel %></span>
                  <span class="option-arrow">›</span>
                </button>

                <ul class="area-tree child-tree">
                  <li class="area-node is-leaf" data-node-type="area" data-region="<%= region %>" data-area-type="<%= areaType %>" data-area="all">
                    <label class="dropdown-option">
                      <input type="checkbox" class="dropdown-checkbox" value="all">
                      <span class="dropdown-label">All areas</span>
                    </label>
                  </li>
                  <li class="dropdown-option-divider" aria-hidden="true"></li>

                  <% (areasData[region][areaType] || []).forEach((area) => { %>
                    <li class="area-node is-leaf" data-node-type="area" data-region="<%= region %>" data-area-type="<%= areaType %>" data-area="<%= area.code %>">
                      <label class="dropdown-option">
                        <input type="checkbox" class="dropdown-checkbox" value="<%= area.code %>">
                        <span class="dropdown-label"><%= area.label %></span>
                      </label>
                    </li>
                  <% }) %>
                </ul>
              </li>
            <% }) %>
          </ul>
        </li>
      <% }) %>
    </ul>

    <div class="step-actions">
      <button type="button" class="action-btn apply">Apply</button>
    </div>
  </div>
</div>
